<html lang="nl">
<%- include('head.ejs') %>
  <body>
    <%- include('nav.ejs') %>
    <main>
      <% if (data) { %>
        <h2>
          <%= data.naam %>
        </h2>
        <form method="POST" action="/<%= data.id %>">
          <button type="submit">VERWIJDER LIFTER</button>
        </form>
      <% } %>
    </main>
    <%- include('tail.ejs') %>
  </body>

</html>
