<html lang="nl">
<%- include('head.ejs') %>
<body>
  <%- include('nav.ejs') %>
  <main>
    <ul>
      <% data.forEach(function (lifter) { %>
        <li>
          <a href="/<%= lifter.id %>"></a>
            <p><%= lifter.id %>.</p>
            <img src="images/<%= lifter.id %>.jpg" alt>
            <p><%= lifter.naam %></p>
          </a>
        </li>  
      <% }) %>
    </ul>
  </main>
  <%- include('tail.ejs') %>
</body>
</html>
