<html lang="nl">
<%- include('head.ejs') %>
<body>
  <main>
    <% data.forEach(function (lifter) { %>
      <a href="/<%= lifter.id %>">
        <img src="images/<%= lifter.id %>.jpg" alt>
        <h1><%= lifter.naam %></h1>
      </a>
      <% }) %>
  </main>
  <%- include('tail.ejs') %>
</body>
</html>
